
.cardContainer{
    width: 35%;
    justify-self: start;
    background-image: url("assets/bg-main-desktop.png");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
}